.filter {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

.inputsFilter {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 0.8rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.inputsFilter:focus {
  border-color: var(--brand);
}

.OpenModalBtn {
  background-color: var(--brand);
  color: var(--text-inverse);
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}
