.categoriesWrapper {
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cardsGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.headerVault {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 300px;
}
