.container {
  width: 100%;
  border: 2px solid var(--bg-surface-2);
  border-radius: 1.2rem;
  margin: 2rem auto;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.actions {
  width: 200px;
}
