.inputDefault {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.8rem;
  color: var(--text-muted);
}

.inputDefault::placeholder {
  color: var(--input-placeholder);
}

.TransactionInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: var(--input-bg);
  font-size: 1.4rem;
  color: var(--text-muted);
  padding: 1rem;
  border-radius: 0.8rem;
}

.TransactionInput::placeholder {
  color: var(--input-placeholder);
}
