.page {
  overflow: hidden;
  background-color: var(--bg-surface-2);
}

.main {
  width: 95%;
  height: 90%;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  margin: 0 auto;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  border-radius: 0.8rem;
}
