.headerCategories {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 300px;
}

.categoriesWrapper {
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

.cardsGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.categoriesWrapper::-webkit-scrollbar {
  width: 8px;
}

.categoriesWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.categoriesWrapper::-webkit-scrollbar-thumb {
  background-color: var(--brand-400);
  border-radius: 999px;
}

.categoriesWrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--brand-400);
}
