.categoriesWrapper {
  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headerCategories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
}

.spacer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 300px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

.cardsGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2.5rem;
}
