.currentGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

@media (max-width: 1200px) {
  h2,
  h3 {
    font-size: 1.4rem;
  }

  .currentGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  h2,
  h3 {
    font-size: 1.1rem;
  }
  .currentGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (max-width: 476px) {
  h2,
  h3 {
    font-size: 0.9rem;
  }
}
