.successMsg {
  width: 350px;
  background-color: var(--success);
  color: var(--text);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 700;
  margin: 10px auto;
}

.errorMsg {
  width: 350px;
  background-color: var(--error);
  color: var(--text);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 700;
  margin: 10px auto;
}
